*{
    margin: 0;
    font-family: poppins;
}
body{
    overflow-x: hidden;
}

.top-header{
    background-color: #fff9ea;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
    margin: 0 100px;
    
}
ul>li{
    list-style: none;
}

ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.first-list{
    border-bottom: 2px solid #ffcb45;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.sign-in-btn{
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #ffcb45;
    border: none;
    font-weight: 600;

}

.nav-icon{
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-container{
    background-image: url(../Images/shapes.png);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-parent{
    display: flex;
    justify-content: space-between;
}


.hero-text{
    display: flex;
    align-items: center;
}

/*  serve section style */
.serve-container{
    margin-top: 80px;
}

.serve-content{
    display: flex;
    gap: 140px;
    justify-content: center;
    margin-top: 32px;
}
/* popular section style */
.popular-container{
    margin-top: 80px;
}
.popular-content{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.img-container{
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 15px 15px 0 0;
}

.icon-element{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

.more-content{
    display: flex;
    justify-content: center;
    padding: 70px;
}

/* review style */

.review-container{
    display: flex;
}

.review-image{
    margin-left: 100px;
}

.review-content{
    display: flex;
    gap: 30px;
}

.next-image{
    position: relative;
    top: -34px;
    width: 550px;
}
.next-img-2{
    position: relative; 
    left: -30px;
}

/* bottom section style */

.bottom-container{
    margin-left: 84px;
}

/* footer section style */

.footer-image{
    background-image: url(../Images/bg-image.png);
    height: 65vh;
    background-position: center;
    background-size: cover;
}


.footer-parent{
    display: flex;
    margin-top: 60px;
}

.icon-style{
    display: flex;
    gap: 40px;
    padding-top: 15px;
}

.footer-info{
    margin-top: 60px;
    margin-left: 40px;
}
.footer-info-content{
    display: flex;
}
.footer-style{
    margin-top: 100px;
    border-top: 1px solid #c6c2b6;
    height: 60px;
    width: 1050px;
    margin-left: 80px;
}

/* responsive */

@media screen and (max-width:576px) {
    .top-header{
        background-color: transparent;
    }
    .nav-container{
        display: block;
        
    }
    .nav-menu{
        display: block;
        margin-left: -40px;
    }
    .first-list{
        border: none;
    }

    /* hero section */

    .hero-container{
        background-image: none;
    }
    .hero-parent{
        display: flex;
        flex-direction: column;
    }
    .hero-container{
        margin-top: 150px;
        margin-left: -10px;
    }
    .serve-container{
        margin-top: 300px;
    }
    .serve-content{
        display: flex;
        flex-direction: column;
    }
    .serve-image{
        display: flex;
        justify-content: center;
    }
    .popular-content{
        display: flex;
        flex-direction: column;
    }
    .popular-serve-box{
        width: 300px;
        margin: auto;
    }

    /* review section */

    .review-container{
        display: flex;
        flex-direction: column;
    }
    .review-image{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .next-image{
        position: static;
        width: 100%;
    }
    .next-img-1{
        width: 100%;
    }
    .next-img-2{
        position: static;
        width: 100%;
    }
    .review-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .review-text{
        margin-left: 40px;
    }

    /* bottom container */

    .bottom-container{
        margin-left: 40px;
    }

    /* footer section */

    .footer-image{
        background-image: url("../Images/bg-image.png");
        height: 100%; 
    }
    .footer-parent{
        display: block;
        margin-left: 30px;
    }
    .footer-info-content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: -30px; 
    }
    .footer-style{
        border: none;
    }
}